extends layout

block scripts
  title= title

  script.
    $(function() {
      $(".header-nav a").click(function() {
        // switch link/tab/bookmark highlight
        $(".header-nav li").removeClass("active");
        $(this).parent().addClass("active");

        // switch screen contents
        $(".content-wrapper > div").removeClass("active");
        $("#" + $(this).data("target")).addClass("active");
      });
    });


block body
  <div class="body-inner">
    <div class="page-wrapper">

      // Navigation header
      <header>
        <h3 class="header-title">ExamNanny</h3>
        <nav>
          <ul class="nav header-nav">
            <li class="active"><a href="#" data-target="tab-home">Home</a></li>
            <li><a href="#" data-target="tab-input">Get Started</a></li>
            <li><a href="#" data-target="tab-features">Features</a></li>
            <li><a href="#" data-target="tab-sign-in">Sign In</a></li>
          </ul>
        </nav>
      </header>

      // Main Content
      <div class="content-wrapper">

        // Tab Home
        <div id="tab-home" class="active">
          <h1>Plan your life.</h1>
          <p class="lead">ExamNanny is a tool for planning your exam study schedule. Get organized, get studying.</p>
          <p class="lead">
            <a href="#" class="btn btn-lg btn-default" data-target="tab-input">Get Started</a>
          </p>
          
          // React.js demo
          <div id="my-react-root"></div>

        </div>
        
        // Tab Features
        <div id="tab-features">
          // Include another template
          include demos/font-awesome-demo
          hr
          include demos/bootstrap-demo
        </div>

        // Tab Sing In
        <div id="tab-sign-in">
          <form class="form-signin">
            <h2 class="form-signin-heading">Please sign in</h2>
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="remember-me"> This is a Checkbox
              </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
          </form>
        </div>

        // Input Tab
        <div id="tab-input">
          include input.pug
          
           

      </div>


      // Footer
      <footer>
        <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>.</p>
      </footer>

    </div>
  </div>
