extends layout

block scripts
  title= title

  script.
    $(function() {
      $(".header-nav a").click(function() {
        // switch link/tab/bookmark highlight
        $(".header-nav li").removeClass("active");
        $(this).parent().addClass("active");

        // switch screen contents
        $(".content-wrapper > div").removeClass("active");
        $("#" + $(this).data("target")).addClass("active");
      });
    });



block body

  <div class="body-inner">
    style.
      body{
        background-image: url(https://raw.githubusercontent.com/morgangrobin/mcwics2018/master/splash.jpg);
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        height:100%;
      }
    <div class="page-wrapper">

      // Navigation header
      <header>
        <table align=left>
          <tr>
            <td><img src="https://raw.githubusercontent.com/morgangrobin/mcwics2018/master/logo.png" width=40px></td>
            <td><h1 class="header-title" style="font-family:helvetica;">&nbsp ExamNanny</h1></td>
          </tr>
        </table>
        <nav align=right>
          <ul class="nav header-nav">
            <li class="active"><a href="#" data-target="tab-home">Home</a></li>
            <li><a href="#" data-target="tab-input">Get Started</a></li>
            <li><a href="#" data-target="tab-sign-in">Sign In</a></li>
            <li><a href="#" data-target="susan">Susan</a></li>
          </ul>
        </nav>
      </header>

      // Main Content
      <div class="content-wrapper">

        // Tab Home
        <div id="tab-home" class="active">
          <div class="well" style="background-color: #17e7b8;">
            <h1>Plan your life.</h1>
            <p class="lead">ExamNanny is a tool for planning your exam study schedule.<br>Get organized, get studying.</p>
            <p class="lead">
              <a href="#" class="btn btn-lg btn-default" data-target="tab-input">Get Started</a>
            </p>
          </div>

          // React.js demo
          <div id="my-react-root"></div>

        </div>

        // Tab Features
        <div id="tab-features">
          // Include another template
          include demos/font-awesome-demo
          hr
          include demos/bootstrap-demo
        </div>

        // Tab Sign In
        <div id="tab-sign-in">
          <form class="form-signin">
            <h2 class="form-signin-heading">Please sign in</h2>
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="remember-me"> This is a Checkbox
              </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
          </form>
        </div>

        // Input Tab
        <div id="tab-input">
          include input.pug
        </div>

        //Susan testing
        <div id="susan">
          include susan.pug
        </div>



      </div>


      // Footer
      <footer>
        <p>ExamNanny 2018</p>
      </footer>

    </div>
  </div>
