doctype html
html
	head
		title= title + ' - Web App'
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='shortcut icon', href='/favicon.ico')
		link(rel='stylesheet', href='/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/font-awesome.min.css')
		link(rel='stylesheet', href='/css/main.css')

		// jQuery and other libs can also be included via require inside scripts
		script(src='/js/jquery.min.js')
		script(src='/js/bootstrap.min.js')

		- var hotReloadingMode = false
		if hotReloadingMode
			// bundle from webpack-dev-server (hot reloading using web-sockets + iframe)
			script(src='http://localhost:8081/bundle.js')
		else
			script(src='/build/bundle.js')


		block scripts

	body
		// include partials/header

		block body

		// include partials/footer
