<!DOCTYPE html>

<html lang="en">

<head>
	<title> How do you want to split your study time? </title>
	<link href="/css/nouislider.css" rel="stylesheet">
</head>

<body>
	<script src="/js/nouislider.js"></script>
	<h1>How do you want to split your study time?</h1>

	<div class="noUi-target">
	<input class="slider" id="slider1">
	</div>

</body>

</html>
