<!DOCTYPE html>

<html lang="en">
<link rel="stylesheet" href="/css/sliders.css" />

<head>
	<title> How do you want to split your study time? </title>
	<link href="/css/nouislider.css" rel="stylesheet">
</head>

<body>

<h1> How do you want to split your study time? </h1>

<!-- EXAM 1 SLIDER -->

<div class="slidecontainer" id="slider1" style="display: initial;">
	<h2> Exam 1 </h2>
	<input type="range" min="1" max="100" value="20" class="slider" id="myRange">
	
	<h2><span id="demo"> </span> %</h2> <span><h2> Lock: <input type="checkbox"> </h2></span>

	script.
		var slider = document.getElementById("myRange");
		var output = document.getElementById("demo");
		output.innerHTML = slider.value;

		slider.oninput = function(){output.innerHTML = this.value;}
</div>

<!-- EXAM 2 SLIDER -->



</body>

</html>
