/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Layout */

  body {
    margin: 0;
    padding: 0;
    min-height: 100%;

    color: #fff;
    text-align: center;

    background-color: #71F6A3;
  }

  .page-wrapper {
    width: 55%;
    margin: 0 auto;
    padding: 30px 20px;
  }

  .content-wrapper {
    min-height: 500px; /* forcing footer lower */
    padding: 50px 0;
  }

  .content-wrapper > div:not(.active) {
    display: none;
  }

  @media (max-width: 1000px) {
    .page-wrapper {
      width: 100%;
    }
  }


/* Header */
  header {
    height: 70px;
    padding: 0 2em;
  }

  .header-title {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .header-nav > li {
    display: inline-block;
  }
  .header-nav > li + li {
    margin-left: 20px;
  }
  .header-nav > li > a {
    padding-right: 0;
    padding-left: 0;
    font-size: 24px;
    font-weight: bold;
    color: rgba(255,255,255,.75);
    border-bottom: 2px solid transparent;
  }
  .header-nav > li > a:hover,
  .header-nav > li > a:focus {
    background-color: transparent;
    border-bottom-color: #a9a9a9;
    border-bottom-color: rgba(255,255,255,.25);
  }
  .header-nav > .active > a,
  .header-nav > .active > a:hover,
  .header-nav > .active > a:focus {
    color: #fff;
    border-bottom-color: #fff;
  }

  @media (min-width: 768px) {
    .header-title {
      float: left;
    }
    .header-nav {
      float: right;
    }
  }

/* Footer */

  footer {
    padding-top: 30px;
    color: #999;
    color: rgba(255,255,255,.5);
  }


/* ELEMENTS */
  a,
  a:focus,
  a:hover {
    color: #fff;
  }

  .btn-default,
  .btn-default:hover,
  .btn-default:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritance from `body` */
    background-color: #fff;
    border: 1px solid #fff;
  }


/* Sign In Form */

  .form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
  }
  .form-signin .form-signin-heading,
  .form-signin .checkbox {
    margin-bottom: 10px;
  }
  .form-signin .checkbox {
    font-weight: normal;
    text-align: left;
  }
  .form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }


/* TABS */

#tab-home {
  text-align: center;
}
#tab-home .btn {
  font-weight: bold;
  padding: 10px 20px;
}

#tab-features {
  text-align: left;
  /* text-shadow: none; */
}

#tab-sign-in {
  text-align: center;
}
